# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# for frontend/ionic-okta
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

.angular
.idea
.ionic
.sass-cache
.sourcemaps
.versions
.vscode
frontend/ionic-okta/coverage
frontend/ionic-okta/dist
frontend/ionic-okta/node_modules
frontend/ionic-okta/platforms
frontend/ionic-okta/plugins
frontend/ionic-okta/www

# for frontend/ionic-okta2
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

.angular
.idea
.ionic
.sass-cache
.sourcemaps
.versions
.vscode
frontend/ionic-okta2/coverage
frontend/ionic-okta2/dist
frontend/ionic-okta2/node_modules
frontend/ionic-okta2/platforms
frontend/ionic-okta2/plugins
frontend/ionic-okta2/www


# for frontend/flutter_okta
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/frontend/flutter_okta/build/

# Web related
/frontend/flutter_okta/lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/frontend/flutter_okta/android/app/debug
/frontend/flutter_okta/android/app/profile
/frontend/flutter_okta/android/app/release


# for backend/okta-node-api
backend/okta-node-api/node_modules