# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# for frontend/ionic-okta

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

.angular
.idea
.ionic
.sass-cache
.sourcemaps
.versions
.vscode
frontend/ionic-okta/coverage
frontend/ionic-okta/dist
frontend/ionic-okta/node_modules
frontend/ionic-okta/platforms
frontend/ionic-okta/plugins
frontend/ionic-okta/www
